.faq-category {
  margin: 40px 0 0 0;
  clear: both; }

.faq-preview {
  float: left;
  width: 21%;
  height: 150px;
  margin: 10px 1%;
  padding: 10px 1%;
  background: #009b77; }
  .faq-preview h2 {
    color: white;
    font-weight: normal; }
  .faq-preview:hover {
    cursor: pointer; }

.rt-faq {
  overflow: scroll;
  border: 1px solid black;
  left: 0;
  width: 44%;
  padding: 20px 3%;
  position: fixed;
  top: 25%;
  left: 100%;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: -webkit-linear-gradient(top, black, black);
  background-image: -moz-linear-gradient(top, black, black);
  background-image: -ms-linear-gradient(top, black, black);
  background-image: -o-linear-gradient(top, black, black);
  background-image: linear-gradient(top, black, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$top-color, endColorstr=$bottom-color, GradientType=0);
  color: #bfbfbf;
  z-index: 200; }

.faq-answer {
  float: left; }
